@import url(./shared.CSS);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  transition: all 0.5s;
  background-color: var(--bg-color) !important;
}
.container {
  width: 100%;
  padding: 0 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 1.75rem;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

body,
html {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

button,
.btn,
select {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

button,
input {
  overflow: visible;
}

textarea {
  font-family: 'Nunito', sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

iframe {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-outline-primary {
  color: #dc4f72 !important;
  border-color: #dc4f72 !important;
  font-weight: 700;
  font-size: 0.875rem !important;
  text-transform: uppercase;
  padding: 0px 30px;
  line-height: 52px;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  color: #fff !important;
  background-color: #dc4f72 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #dc4f72 !important;
  border-color: #dc4f72 !important;
  line-height: 52px;
  font-weight: 700;
  font-size: 0.875rem !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #d62f58 !important;
  border-color: #cf2952 !important;
}

.button-theme {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 0.875rem !important;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .button-theme {
    line-height: 44px;
    padding: 0px 20px;
  }
}

.title-section {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.title-section span {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 0.375rem;
  display: block;
}
.title-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
@media (max-width: 800px) {
  .title-section h3 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 667px) {
  .title-section h3 {
    font-size: 32px;
    line-height: 42px;
  }
}
.title-section p {
  max-width: 750px;
  color: #5a5a5a;
  font-size: 1rem;
  line-height: 22.5px;
  font-weight: 400;
  margin: 1rem auto;
}

.text-primary {
  color: #dc4f72 !important;
}

.bg-primary {
  background-color: #dc4f72 !important;
}

.border-primary {
  border-color: #dc4f72 !important;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.15),
      0 0 0 10px rgba(255, 255, 255, 0.15), 0 0 0 20px rgba(255, 255, 255, 0.15);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.15),
      0 0 0 20px rgba(255, 255, 255, 0.15), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

.fs-7 {
  font-size: 0.875rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

.title-section {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.title-section span {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 0.375rem;
  display: block;
}
.title-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
@media (max-width: 800px) {
  .title-section h3 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 667px) {
  .title-section h3 {
    font-size: 32px;
    line-height: 42px;
  }
}
.title-section p {
  max-width: 750px;
  color: #5a5a5a;
  font-size: 1rem;
  line-height: 22.5px;
  font-weight: 400;
  margin: 1rem auto;
}

.tag {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  border-radius: 25px;
  padding: 5px 16px;
  margin-bottom: 15px;
}
.tag.tag-red {
  background-color: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}
.tag.tag-green {
  background-color: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.tag.tag-blue {
  background-color: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}

.page-header .navbar .container {
  transition: all 0.4s;
}
.page-header .navbar .container .navbar-brand {
  font-size: 1.625rem !important;
  font-weight: 900 !important;
}
.page-header .navbar .container .nav-link,
.page-header .navbar .container .dropdown-item {
  display: inline-block !important;
  transition: all 0.3s;
}
.page-header .navbar .container .nav-link::after,
.page-header .navbar .container .dropdown-item::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #dc4f72;
  display: block;
  transition: all 0.5s;
}
.page-header .navbar .container .nav-link:hover,
.page-header .navbar .container .dropdown-item:hover {
  color: #dc4f72;
}
.page-header .navbar .container .nav-link:hover::after,
.page-header .navbar .container .dropdown-item:hover::after {
  width: 40%;
}
.page-header .navbar .container .dropdown-item:hover::after {
  width: 20%;
}
@media screen and (max-width: 992px) {
  .page-header .navbar {
    padding: 2px 0 !important;
  }
}

.title-section {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.title-section span {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 0.375rem;
  display: block;
}
.title-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
@media (max-width: 800px) {
  .title-section h3 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 667px) {
  .title-section h3 {
    font-size: 32px;
    line-height: 42px;
  }
}
.title-section p {
  max-width: 750px;
  /* color: #5a5a5a; */
  color: var(--text-color);
  font-size: 1rem;
  line-height: 22.5px;
  font-weight: 400;
  margin: 1rem auto;
}

.tag {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  border-radius: 25px;
  padding: 5px 16px;
  margin-bottom: 15px;
}
.tag.tag-red {
  background-color: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}
.tag.tag-green {
  background-color: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.tag.tag-blue {
  background-color: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}

.footer {
  background-color: #f7f9fc;
}
.footer h3 {
  font-size: 1.25rem;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}
.footer h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}
.footer p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 1rem;
}
.footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
.footer li {
  display: block;
  margin: 10px 0;
}
.footer a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}
.footer a:hover {
  opacity: 0.8;
  color: #dc4f72 !important;
}
.footer .footer-form {
  background-color: #fff;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.footer .footer-form .subscribe input[type='email'] {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  border-radius: 6px;
}
.footer .footer-form .subscribe button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 6px;
}
@media (max-width: 1190px) {
  .footer .footer-form .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
  }
  @media (max-width: 1190px) {
    .footer .footer-form .subscribe button {
      width: 30%;
    }
  }
  .footer .footer-end {
    border-top: 1px solid #eaeaea;
  }
  .footer .footer-end p {
    margin: 0;
  }
  .footer .footer-end p a {
    color: #2c3038;
  }
  .footer .footer-end .social li {
    display: inline-block;
    margin-right: 5px;
  }
  .footer .footer-end .social li a {
    color: #2c3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
  }
  .footer .footer-end .social li a i {
    font-size: 15px;
    line-height: 36px;
  }
  .footer .footer-end .social li a:hover {
    color: #dc4f72;
    transition: 0.3s ease;
  }
  .footer .back-to-top {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 45px;
    background: #dc4f72;
    padding: 0;
    opacity: 0.7;
    transition: 0.3s ease;
  }
  .footer .back-to-top:hover {
    opacity: 1;
    transition: 0.3s ease;
  }
  .footer .back-to-top i {
    line-height: 45px;
    color: #fff;
    font-size: 22px;
  }

  .banner {
    margin-top: 90px;
  }
  .banner .content {
    position: relative;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
      url('./img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding-top: 5rem;
    overflow: hidden;
  }
}
.footer .footer-end {
  border-top: 1px solid #eaeaea;
}
.footer .footer-end p {
  margin: 0;
}
.footer .footer-end p a {
  color: #2c3038;
}
.footer .footer-end .social li {
  display: inline-block;
  margin-right: 5px;
}
.footer .footer-end .social li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.footer .footer-end .social li a i {
  font-size: 15px;
  line-height: 36px;
}
.footer .footer-end .social li a:hover {
  color: #dc4f72;
  transition: 0.3s ease;
}
.footer .back-to-top {
  display: none;
  position: fixed;
  bottom: 75px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 45px;
  background: #dc4f72;
  padding: 0;
  opacity: 0.7;
  transition: 0.3s ease;
}
.footer .back-to-top:hover {
  opacity: 1;
  transition: 0.3s ease;
}
.footer .back-to-top i {
  line-height: 45px;
  color: #fff;
  font-size: 22px;
}

.banner {
  /* margin-top: 90px; */
  margin-top: 86px;
  /* --- ONG UNCHECK DE CHECK LAI NHA, TAI O DARK MODE NO LOI RA KHOANG TRANG */
}
.banner .content {
  position: relative;
  background-image: linear-gradient(
      to right,
      var(--bg-color),
      rgba(255, 255, 255, 0.92)
    ),
    url('./img/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding-top: 5rem;
  overflow: hidden;
}
.banner .content .content-left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: #2c3038;
  font-weight: 700;
}
@media (max-width: 568px) {
  .banner .content .content-left h3 {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 375px) {
  .banner .content .content-left h3 {
    font-size: 35px;
  }
}
.banner .content .content-left p {
  color: #5a5a5a;
  font-size: 1.25rem;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}
.banner .content .content-right img {
  transform: rotate(180deg);
}
@media (max-width: 992px) {
  .banner .content .content-right img {
    display: block;
  }
}

.tools .tools-item {
  border: 1px solid #f7f9fc;
  border-radius: 6px;
  background-color: #f7f9fc;
  padding: 3rem 2rem;
  transition: 0.3s ease-in;
}
.tools .tools-item h3 {
  color: #2c3038 !important;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  margin: 1rem 0;
}
.tools .tools-item p {
  color: #5a5a5a !important;
  font-size: 1rem;
  line-height: 24.5px;
  margin: 15px 0 0;
}
.tools .tools-item:hover {
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.02);
  background-color: #fff;
  transform: translateY(-4%);
}

.about {
  background-color: var(--about-color) !important;
}
.about .about-left .title-section h3 {
  font-size: 35px;
  line-height: 40px;
}
.about .about-right img {
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
}
.about .about-right img:hover {
  transform: translateY(-2%);
}

.stats {
  background-color: #f7f9fc;
}
.stats .stats-item {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  transition: 0.5s all;
}
.stats .stats-item h5 {
  color: #2c3038;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24.5px;
  text-transform: capitalize;
}
.stats .stats-item span {
  color: #dc4f72;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin: 10px 0 15px 0;
  display: block;
}
.stats .stats-item p {
  color: #5a5a5a;
  margin: 0;
}
.stats .stats-item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
@media (max-width: 992px) {
  .stats .stats-item h5 {
    font-size: 18px;
  }
  .stats .stats-item span {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 737px) {
  .stats .stats-item h5 {
    font-size: 17px;
  }

  .stats .stats-item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  }
  @media (max-width: 992px) {
    .stats .stats-item h5 {
      font-size: 18px;
    }
    .stats .stats-item span {
      font-size: 40px;
      line-height: 50px;
    }
  }
  @media (max-width: 737px) {
    .stats .stats-item h5 {
      font-size: 17px;
    }
  }

  .slogan {
    min-height: 480px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.33)
      ),
      url('./img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem 0;
  }
  .slogan .content {
    max-width: 550px;
  }
  .slogan .content h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
  .slogan .content p {
    font-size: 1rem;
    color: #eee;
    line-height: 24.5px;
  }
  .slogan .content .btn-light {
    color: #212529;
  }
  .slogan .content .btn-light:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: var(--text-color);
  }

  .banner .content .content-left h3 {
    color: var(--title-color);
  }
  .banner .content .content-left p {
    color: var(--text-color);
  }

  .tools {
    background-color: var(--bg-color);
  }
  .title-section h3 {
    color: var(--title-color);
  }
  .stats {
    background-color: var(--about-color);
  }
}

.slogan {
  min-height: 480px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url('./img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2rem 0;
}
.slogan .content {
  max-width: 550px;
}
.slogan .content h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.slogan .content p {
  font-size: 1rem;
  color: #eee;
  line-height: 24.5px;
}
.slogan .content .btn-light {
  color: #212529;
}
.slogan .content .btn-light:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

/* CHINH SUA CHO DARK MODE NGHE */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--text-color);
  transition: color 0.5s;
}

.banner .content .content-left h3 {
  color: var(--title-color);
  transition: color 0.5s;
}
.banner .content .content-left p {
  color: var(--text-color);
  transition: color 0.5s;
}

.tools {
  background-color: var(--bg-color);
  transition: background-color 0.5s;
}
.title-section h3 {
  color: var(--title-color);
}
.stats {
  background-color: var(--about-color);
  transition: background-color 0.5s;
}
