@import url(./shared.css);
.bgFixed {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(https://demo.w3layouts.com/demos_new/template_demo/03-03-2021/masterwork-liberty-demo_Free/423112365/web/assets/images/bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  padding: 2rem 0;
}
.bgFixed-content {
  max-width: 550px;
}
.bgFixed-content h2 {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.bgFixed-content p {
  font-size: 16px;
  color: #fff;
  line-height: 24.5px;
}
.bgFixed-content button {
  background-color: #fff;
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

/* SOLUTIONS CONTENT */
.solutions {
  transition: all 0.5s;
  background-color: var(--bg-color);
}
.solutions-content {
}
.heading h3 {
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
}
.heading h2 {
  color: var(--title-color);
  font-size: 2.865rem;
  line-height: 1;
  font-weight: 700;
}
.heading p {
  margin: 0 auto;
  max-width: 750px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
}
.solutions-container {
  border-radius: 10px;
  background-color: transparent;
}
.solutions-item {
  position: relative;
  overflow: hidden;
  transition: all 0.8s;
  margin: 0 15px;
}
.solutions-item.card {
  background-color: var(--card-color);
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.solutions-item img {
  filter: grayscale(1);
  transition: all 0.5s;
  width: 100%;
}

.solutions-item:hover {
  transform: translateY(-20px);
}
.solutions-item:hover img {
  filter: grayscale(0);
}

.solutions-item .tag {
  padding: 0.3em 1.2em;
  display: inline-block;
  border-radius: 1.9em;
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 0.9375rem;
}
.solutions-item .tag-red {
  background-color: rgba(238, 97, 120, 0.2);
  color: var(--primary);
}
.solutions-item .tag-green {
  background-color: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.solutions-item .tag-blue {
  background-color: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
.solutions-item .date {
  position: absolute;
  right: 0;
  padding: 0.83em;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.35em;
  background-color: var(--primary);
}

.solutions-item .card-title a {
  font-size: 22px;
  line-height: 27px;
  color: var(--title-color);
  display: block;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.8s;
  cursor: pointer;
}
.solutions-item:hover .card-title a {
  color: var(--primary);
}
.solutions-item .card-text {
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--text-color);
  margin-top: 0.9375rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
}

.solutions-item .know-more {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 600;
}
.solutions-item .know-more i {
  font-size: 60%;
  transition: all 1s;
}
.solutions-item:hover .know-more i {
  transform: translateX(3px);
}

/* FAQ */
.faq {
  background-color: var(--bg-color);

  padding: 30px 0;
}
.faq-content {
  gap: 50px;
}
div.card-body {
  color: var(--text-color);
}
.card-header:hover {
  background-color: transparent;
}
.faq .img-container {
  position: sticky;
  top: 89px;
}
.faq .left img {
  width: 100%;
  transition: all 0.5s;
}
.faq .left img:hover {
  transform: translateY(-15px);
}
.faq .left {
  width: 45%;
}
.faq .right {
  width: 60%;
}

.faq .right .accordion {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.faq .right .faq-card {
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
}
.faq .right .card-header {
  text-align: left;
  padding: 0;
  background-color: var(--bg-color);
  border-bottom: none;
  transition: all 0.5s;
}
.faq .right .card-header button {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: all 0.5s;
  color: var(--title-color);
}
.faq .right .accordion .btn-link {
  position: relative;
  transition: all 0.5s;
  color: var(--title-color);
  width: 100%;
  text-align: left;
  /* padding: 25px 50px 25px 20px; */
  padding: 23px 35px 23px 20px;
  text-decoration: none;
  font-size: 20px;
}
.faq .right .accordion .btn-link:hover {
  background-color: transparent;
}
.faq .right .accordion .btn-link i {
  position: absolute;
  right: 20px;
  transition: opacity 0.5s;
  font-size: 1rem;
}
.hidden {
  opacity: 0;
}
div.card-body {
  transition: all 0.5s;
  color: var(--text-color);
}
@media (max-width: 1198.98px) {
  .container {
    max-width: 100%;
    padding-right: 25px !important;
    padding-left: 25px !important;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .solutions-container {
    flex-basis: 50%;
  }
  .solutions-content {
    flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .solutions-container {
    flex-basis: 100%;
  }
  .bgFixed-content button {
    line-height: 44px;
    padding: 0 20px;
  }
  .faq-content {
    flex-wrap: wrap;
  }
  .faq .left,
  .faq .right {
    flex-basis: 100%;
  }
}

.solutions-item .know-more:hover {
  background-color: transparent;
}
/* THEME SWITCH */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  margin: 0;
}
.theme-switch input {
  display: none;
}
.mode-container {
  width: 24px;
  height: 24px;
  padding: 3px 0;
  margin-left: 20px;
}
input:checked + .mode-container i.gg-sun {
  display: block;
}

input:checked + .mode-container i.gg-sun {
  display: block;
}
.mode-container i.gg-sun {
  display: none;
}
.gg-moon:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}
.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
  color: #fff;
}
.gg-sun:before {
  transform: rotate(-45deg);
  color: #fff;
}
.gg-sun:after {
  transform: rotate(45deg);
  color: #fff;
}
.gg-sun:after,
.gg-sun:before {
  content: '';
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
  color: #fff;
}
.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
  cursor: pointer;
}
input:checked + .mode-container i.gg-moon {
  display: none;
}
.mode-container i.gg-moon {
  display: block;
}
.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
