@import url(../shared.CSS);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#projects,
#testimonials {
    background-color: var(--bg-color);
    transition: all 0.5s;
}

ul.resp-tabs-list,
p {
    color: var(--text-color);
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

#parentHorizontalTab {
    display: block;
    width: 100%;
    margin: 0px;
}

.resp-tabs-container {
    border-color: rgb(193, 193, 193);
}

.resp-tab-content-active {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.text-center {
    text-align: center !important;
}

.header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

ul.resp-tabs-list,
p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #4e5b61;
    background: #fff !important;
    border-bottom: 3px solid #eee;
}

.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    border-bottom: 3px var(--primary) solid !important;
    color: var(--primary) !important;
}

.products .products-content {
    margin: 20px 0;
}

.products .products-content h3 {
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

img.img-curve {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

img.img-curve:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}

.products .products-content p {
    color: var(--text-color);
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-outline-primary {
    background-color: #fff;
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    border-color: #dc4f72;
}

.btn:hover {
    text-decoration: none;
    background-color: #dc4f72;
}

.clear {
    clear: both;
}

.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.testimonials .swiper-slide {
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: var(--card-color);
    border-radius: var(--card-curve);
    transition: all 0.5s;
}

.testimonials {
    background-size: 100% 100%;
    background-image: linear-gradient(to right, var(--testimonial), rgba(247, 249, 252, 0.77)), url(../img/b2\ \(1\).jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
    transition: all 0.5s;
}

.swiper-slide .img-circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid var(--primary);
}

.swiper-slide .img-circle img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.swiper-slide span {
    font-size: 30px;
    color: var(--title-color);
    opacity: 0.2;
    position: absolute;
    top: 15px;
    left: 130px;
    right: 0;
    font-size: 50px;
}

.swiper-slide p {
    font-size: 20px;
    line-height: 26px;
    color: var(--title-color);
    margin-bottom: 10px;
}

.swiper-slide .name {
    margin-bottom: 40px;
}

.swiper-slide h4 {
    font-size: 20px;
    color: var(--primary);
    font-weight: 400;
    position: absolute;
    left: 190px;
}

.swiper-slide .name p {
    position: absolute;
    left: 190px;
    top: 340px;
    font-size: 15px;
}

.active {
    display: block !important;
}

.footer .footer-16-main.py-5 {
    background: var(--bg-color);
    transition: all 0.5s;
}

.footer .footer-gd-16 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}

.footer .footer-gd-16 li a:hover {
    color: #dc4f72;
}

.footer .footer-gd-16 li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

.footer .footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: var(--title-color);
    font-weight: 700;
    padding-bottom: 50px;
}

.footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
}

.footer .footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 500;
}

.footer .subscribe button {
    text-align: center;
    background: var(--primary);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: var(--card-curve);
}

.footer .end-column {
    background-color: var(--card-color);
    padding: 2em;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: all 0.5s;
}

.footer .subscribe input[type="email"] {
    background: var(--light-bg-color);
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: var(--title-color);
    font-weight: 600;
    border-radius: var(--card-curve);
}

.footer .footer-16-main p {
    line-height: 22px;
    color: var(--text-color);
    font-size: 16px;
}

.footer ul.social li a {
    color: var(--title-color);
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.footer ul.social li,
.footer ul.jst-link li {
    display: inline-block;
    margin-right: 5px;
}

.footer ul.social li a:hover {
    color: var(--primary);
    transition: 0.3s ease;
}

.footer .footer-16-main p a {
    color: var(--title-color);
}

.footer .footer-16-main p a:hover {
    opacity: 0.8;
    color: var(--primary);
}

.w3layouts:hover {
    color: #dc4f72;
    text-decoration: none;
}

<<<<<<< HEAD
.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background: #fff;
    display: block;
    border: none;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0;
    position: relative;
}

@media only screen and (min-width: 576px) {
    .products {
        max-width: 100%;
        padding: 0 1.75rem;
    }
}
=======
/* DARK MODE NGHE, EMM CHINH XIU */
.w3l-index6 {
  background-color: var(--bg-color);
  transition: all 0.5s;
}

.w3l-footer .w3l-footer-16-main.py-5 {
  background-color: var(--bg-color);
  transition: all 0.5s;
}
.w3l-footer .end-column {
  background-color: var(--bg-color);
  transition: all 0.5s;
}
>>>>>>> 620cd5be8fbd5f0be238b68defd265f5244e95a9
